* {
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    display: grid;
	place-items: center;
    color: white;
    text-decoration: underline;
}

h2 {
    text-align: center;
    color: white;
}

body {
    background-color: rgb(59, 59, 63);
}

ul {
    list-style-type: none;
    padding: 0;
    width: auto;
    overflow-y: auto;
    max-height: 400px;
    display: flex;
    flex-direction: row;
}

.verticalList {
    flex-direction: column;
    width: 50%;
}

ul li {
    background-color: rgb(100, 100, 100);
    padding: 0.5em;
    margin: 0 0.5em 0.5em 0;
    width: auto;
    min-height: 2em;
    text-align: left;
    word-wrap:break-word;
    flex-shrink: 0;
}

button {
    height: 50px;
    background-color: white;
    margin-top: 10px;
    flex-grow: 1;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 30%;
}

.centre {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: 30%;
    height: 100px;
    resize: none;
}

.unready {
    color: rgb(0, 0, 0);
}

.ready {
    color: rgb(10, 209, 10);
}

.selected {
    color: yellow;
}

h3 {
    text-align: left;
}

.countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    pointer-events:none;
    text-decoration: none;
}