* {
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    display: grid;
	place-items: center;
    color: white;
    text-decoration: underline;
}

h2 {
    text-align: center;
    color: white;
}

body {
    background-color: rgb(59, 59, 63);
}

ul {
    list-style-type: none;
    padding: 0;
    width: auto;
    overflow-y: auto;
    max-height: 400px;
    display: flex;
    flex-direction: row;
}

.vertical-list {
    flex-direction: column;
    width: 50%;
}

.score-board-list {
    max-height: 700px;
}

.white {
    color: white;
}

.button-list li {
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(139, 135, 135);
}

.button-list li:hover {
    border: 5px solid white;
}

ul li {
    background-color: rgb(100, 100, 100);
    padding: 0.5em;
    margin: 0 0.5em 0.5em 0;
    width: auto;
    min-height: 2em;
    text-align: left;
    word-wrap:break-word;
    flex-shrink: 0;
}

button {
    height: 50px;
    background-color: white;
    margin-top: 10px;
    flex-grow: 1;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 30%;
}

.nickname-field{
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.nickname-field input{
    width: auto;
    height: auto;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
}

.item {
    margin: 50px;
    width: 50%;
    justify-content: center;
}

.item button{
    width: 50%;
    height: 75px;
}

.centre {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: 30%;
    height: 100px;
    resize: none;
}

.unready {
    color: rgb(0, 0, 0);
}

.ready {
    color: rgb(10, 209, 10);
}

.selected {
    color: yellow;
}

h3 {
    text-align: left;
}

.countdown {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    pointer-events:none;
    text-decoration: none;
}